@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


.App {
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
  }

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 80px;
    background-color: #d0efff;
}

.home-link {
    color: black;
    cursor: pointer;
    margin-left: 20px;
    margin-right: 20px;
    transition: color 0.2s
}

.login-link, .signup-link, .savedtrips-link {
    color: black;
    cursor: pointer;
    transition: color 0.2s
}

.home-link:hover, .login-link:hover, .signup-link:hover, .savedtrips-link:hover {
    color: navy;
}

.prompt-form {
    margin-top: 70px;
}

.prompt-input {
    width: 500px;
    height: 50px;
    border: 1px solid #2a9df4;
    border-radius: 18px;
    padding: 10px 15px;
    font-size: 18px;
    outline: none;
    margin-top: 30px;
    margin-bottom: 20px;
}

.generate-button {
    margin-left: 20px;
    background-color: #2a9df4;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 18px;
    cursor: pointer;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 15px;

}

.save-button {
    margin-left: 20px;
    background-color: #2a9df4;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 18px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 15px;

}

.login-div {
    margin-top: 70px;
}

.signin-btn {
    background-color: #2a9df4;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 18px;
    cursor: pointer;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 15px;
}

.form-label {
    margin-top: 20px;
}

.activity-list {
    list-style: none;
    padding: 0;
    margin-left: 0;
}

.activity-list li {
    margin-bottom: 5px;
}

.schedule-list {
    list-style: none;
}

.activity-heading {
    font-weight: bold;
}

.user {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding-right: 40px;
}
  
  .user p {
    color: black;
    padding-right: 10px;
}
  
.user img {
    width: 30px;
    height: 30px;
    padding-right: 15px;
}

.logout-btn {
    background-color: #2a9df4;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 18px;
    cursor: pointer;
    font-size: 14px;
}

.saved-header {
    margin-top: 50px;
}

.trip-info {
    margin-top: 30px;
    color: #00b4d8;
    font-weight: bold;
}

.delete-button {
    background-color: #2a9df4;
    color: white;
    border: none;
    padding: 10px 17px;
    border-radius: 18px;
    cursor: pointer;
    font-size: 15px;
    margin-top: 30px;
}